body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 244, 231);
    line-height: 1.6;
    margin: 0px;
    padding: 0px;
}

header {
    border-bottom: 4px solid rgb(104, 70, 42);
    background-color: azure;
    display: flex;
}

footer {
    border-top: 4px solid rgb(104, 70, 42);
    background-color: rgb(99, 99, 99);
    color: white;
}

.aoLado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
};