table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

caption {
    margin:10px;
    font-size: 27px;
}

th, td {
    border: 1px dashed gray;
    padding: 3px;
}
th {
    background: #5479fc;
}

td {
    background: #a7eccb;
}

th:hover {
    background: #87c4bf;
}

td:hover {
    background: #8cc8f0 !important;
}

tr:hover {
    background: #b7c9f3;
}

#Int {
    text-align: center;
}

#Int:hover {
    background: #5479fc;
}
