table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

caption {
    margin:10px;
    font-size: 27px;
}

th, td {
    border: 1px dashed gray;
    padding: 3px;
}
th {
    background: #b6ecad;
}

td {
    background: #f3d1d1;
}

th:hover, td:hover {
    background: #8cc8f0 !important;
}

tr:hover {
    background: #b7c7f3;
}

#Int {
    text-align: center;
}